.albums-index-container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.album-outer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.albums-index-div {
  margin-top: 11px;
  color: white;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.album-index-title {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.album-image {
  height: 240px;
  width: 240px;
}

.albums-index-div:hover {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.6);
}

.create-album-div {
  margin: 10px 100px;
  display: flex;
  justify-content: flex-end;
}