.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  height: 50px;
  font-weight: 700;
  font-size: 12px;
}

.footer > a {
  padding: 10px 40px 10px 40px;
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
    font-size: 20px;
  }
}

