body {
  background: rgb(243, 245, 246)
}

.photos-index-container {
  margin-top: 5px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  -webkit-column-count: 4;
  -webkit-column-gap:   4px;
  -moz-column-count:    4;
  -moz-column-gap:      4px;
  column-count:         4;
  column-gap:           4px;
}

.photos-index-div {
  margin-bottom: 2.5px;
  position: relative;
}

.photo-index-detail {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  opacity: 0;
}

.the-box {
  position: absolute;
  background: linear-gradient(transparent, black);
  opacity: 0;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.photos-index-div:hover .photo-index-detail {
  opacity: 1;
}

.photos-index-div:hover .the-box {
  opacity: 1;
}

.photo-index-username {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.photo-image {
  width: 100% !important;
  height: auto !important;
}