body {
  background: rgb(243, 245, 246);
}

.photos-index-container {
  max-width: 1080px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  column-count: 4; 
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-gap: 4px;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  // height: 3000px;
}

.photos-index-div {
  position: relative;
  margin-bottom: 2.5px;
}

.photo-index-detail {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  left: 10px;
  color: white;
  opacity: 0;
}

.the-box {
  position: absolute;
  background: linear-gradient(transparent, black);
  opacity: 0;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.photo-index-username {
  margin: 0;
  font-size: 11.5px;
  font-weight: 400;
}

.photo-image {
  width: 100% !important;
  // height: auto !important;
}

.photos-index-div:hover .the-box {
  opacity: 1;
}

.photos-index-div:hover .photo-index-detail {
  opacity: 1;
}

