.tag-info {
  width: 500px;
  margin-top: 10px;
  border-top: 1px solid rgb(207, 214, 217);
  padding-top: 23px;
}

.tag-section {
  display: flex;
  flex-direction: column;
}

.tag-title {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 109, 172);
  margin-bottom: 10px;
}

.add-tag-section {
  margin-top: 10px;
  padding: 23px 0;
  border-bottom: 1px solid rgb(207, 214, 217);
}

.tag-button {
  margin-top: 10px;
  background: rgb(0, 145, 220);
  color: white;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.tag-button:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.all-the-tags {
  padding-bottom: 23px;
  border-bottom: 1px solid rgb(207, 214, 217);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag-name {
  border: 2px solid rgb(207, 214, 217);
  border-radius: 5px;
  margin: 3px;
  color: rgb(33, 33, 36);
  font-size: 16px;
  font-weight: 400;
  padding: 3px 8px;
  // cursor: default;
}

.tag-name:hover {
  transition: 0.5s;
  border: 2px solid rgb(140, 140, 140);
}